*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
.clr{
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/* ============= main css start ============ */

.slider-item{
    padding: 200px 0px;
    background: url(../images/one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tow{
    background: url(../images/tow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
    background: url(../images/three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.four{
    background: url(../images/four.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.five{
    background: url(../images/five.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider{
    position: relative;
}

.prev{
    height: 50px;
    width: 50px;
    background: red;
    color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}

.next{
    height: 50px;
    width: 50px;
    background: red;
    color: #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}